:root{
    --primary: #5c88da;
    --secondary: #a6a6a6;
    --primaryHover: #2d61c2;
    --secondaryHover: #8c8c8c;
    --background: #e8e8e8;
    --fontColor: #1a202c;
    --fontSecondary: #718096;
}