.about{
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25vh;
    .aboutLeft, .aboutRight{
        width: 50%;
        height: 50vh;
    }
    .aboutLeft{
        padding-right: 5%;
        .title{
            margin-bottom: 0.4rem;
        }
        .subTitle{
            margin-bottom: 0.4rem;
        }
        .aboutText{
            font-size: 20px;
        }
        position: relative;
        .btn{
            position: absolute;
            left: 0;
            bottom: 0;
            margin: 0;
        }
    }
    .aboutRight{
        padding-left: 5%;
        .aboutImg{
            max-width:100%;
            max-height:100%;
        }
    }
    
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .about{
        .aboutLeft{
            .aboutText{
                font-size: 15px;
            }
        }
    }
}

// Double Extra large devices (x-large desktops, 1200px and up)
@media (min-width: 1700px) {
    .about{
        .aboutLeft{
            .aboutText{
                font-size: 20px;
            }
        }
    }
}