.aboutMe{
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
        font-size: 2.25em;
        margin-bottom: 0.4rem;
    }
    .subTitle{
        font-size: 1.5em;
        margin-bottom: 0.4rem;
    }
    .aboutText{
        text-align: justify;
        text-justify: inter-word;
        font-size: 1.15em;
    }
    
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .aboutMe{
        align-items: flex-start;
        .aboutImg{
            float: right;
            min-width:40%;
            max-height:100%;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .aboutMe{
        height: 80vh;
        .aboutContent{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            max-height: 400px;
            .aboutImg{
                max-height:400px;
                max-width: 300px;
            }
        }

    }
}

// Extra large devices (large desktops, 1024px and up)
@media (min-width: 1024px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// Double Extra large devices (x-large desktops, 1200px and up)
@media (min-width: 1700px) {
}