.aboutMe{
    height: 75vh;
    text-align: center;
    .title{
        font-size: 2.25em;
        margin-bottom: 0.4rem;
    }
    .subTitle{
        font-size: 1.5em;
        margin-bottom: 0.4rem;
    }
    .aboutText{
        text-align: justify;
        text-justify: inter-word;
        font-size: 1.15em;
    }
    .aboutImg{
        max-width:100%;
        max-height:100%;
    }
    
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .aboutMe{
        text-align: left;
        .aboutImg{
            float: right;
            width: 33%;
        }
        .aboutText{
            width: 66%;
        }
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .aboutMe{
        height: 80vh;
    }
}

// Extra large devices (large desktops, 1024px and up)
@media (min-width: 1024px) {
    .aboutMe{
        text-align: left;
        .aboutImg{
            float: right;
            width: 50%;
            max-height: 100%;
        }
        .aboutText{
            width: 50%;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// Double Extra large devices (x-large desktops, 1200px and up)
@media (min-width: 1700px) {
}