.aboutMe{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .aboutText{
        text-align: justify;
        text-justify: inter-word;
        font-size: 1.15em;
    }
    .aboutImg{
        img{
            max-width: 100%;
        }
    }
    
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .aboutMe{
        align-items: flex-start;
        .aboutImg{
            float: right;
            min-width:40%;
            max-width: 300px;
            img{
                margin: 1em;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .aboutMe{
        .aboutContent{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            max-height: 400px;
            .aboutText{
                margin-right: 3em;
            }
            .aboutImg{
                width: 100%;
                text-align: center;
                img{
                    transition: transform 0.35s ease-in-out;
                }
                img:hover{
                    transform: scale(1.05);
                }
            }

        }

    }
}

// Extra large devices (large desktops, 1024px and up)
@media (min-width: 1024px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// Double Extra large devices (x-large desktops, 1200px and up)
@media (min-width: 1700px) {
}