$blue: #5c88da;
$blueHover: #2d61c2;
$background : #e8e8e8;

.networks{
  margin-top: 2em;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .network{
    .networkLink{
      color: $blue;
      font-size: 4em;
      margin: 1em;
    }
    .networkLink:hover{
      color: $blueHover;
    }
  }
}