$blue: #5c88da;


.dropdown{
    margin: 1em;
    cursor: pointer;
    i{
        position: relative;
        left: 90%;
        top: calc(50% - 16px);
    }
    .panel{
        max-height: 0;
        overflow: hidden;
        transition: max-height ease-out 0.3s;
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// Double Extra large devices (x-large desktops, 1200px and up)
@media (min-width: 1700px) {
}