$blue: #5c88da;
$blueHover: #2d61c2;
$background : #e8e8e8;


.footer{
  min-height: 200px;
  border-top: solid 4px $blue;
  box-shadow: 0 -6px 12px 0 rgb(0 0 0 / 12%);
  width: 100vw;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .footerLink{
    margin: 2em;
    font-size: 1em;
    font-weight: bold;
    position: relative;
  }
  .footerLink::before{
    content: "";
    height: 4px;
    top: -4px;
    border-radius: 4px;
    position: absolute;
    background-color: $blue;
    width: 100%;
    left: 0;
    transition: transform 0.35s ease-out;
    transform-origin: bottom right;
    transform: scaleX(0);
  }
  .footerLink:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}