$blue: #5c88da;
$blueHover: #2d61c2;

a{
    text-decoration: none;
}

.header{
    width: 100vw;
    margin-bottom: 1em;
}

.name{
    transform: translateX(-100vw);
    margin: 0.5em;
    h1{
        padding-top: 1.5em;
        font-size: 1.2em;
    }
}

.navigation{
    transform: translateX(100vw);
    .menuItems{
        position: relative;
        height: 0;
        transition: all 0.35s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2em;
        li{
            list-style: none;
            font-size: 1.75em;
            font-weight: bold;
            margin-top: 1em;
            border-bottom: 3px solid $blue ;
        }
    }
}

.no-scroll{
    overflow: hidden;
}


// XSmall devices (Portrait phones, 320px and up)
@media (min-width: 320px) {

    .name{
        margin: 0.5em 1em;
        h1{
            padding-top: 1em;
            font-size: 1.5em;
        }
    }

}

// Small devices (landscape phones, 450px and up)
@media (min-width: 450px) {
    .name{
        margin: 0.5em 2em;
        h1{
            padding-top: 0.5em;
            font-size: 2em;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .name{
        margin: 2em 3em;
        h1{
            padding-top: 0.1em;
            font-size: 3em;
        }
    }

    .navigation{
        .menuItems{
            padding-top: 0;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

    .navigation{
        .menuItems{
            li{
                font-size: 2.5em;
            }
        }
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

    .header{
        height: 100px;
        box-shadow: 0 6px 12px 0 rgb(0 0 0 / 12%);
        position: sticky;
        top: 0;
        background-color: #e8e8e8;
        z-index: 2;
    }

    .name{
        transition: all 0.25s ease-in-out;
        transform: translateX(0);
        margin: 0;
        h1{
            line-height: 100px;
            font-size: 30px;
            cursor: pointer;
        }
    }

    .name:hover{
        transform: scale(1.1);

    }

    .navigation{
        margin: 0 10%;
        top: 0;
        position: -webkit-sticky;
        position: sticky;
        height: 100%;
        transform: translateX(0);
        display: flex;
        justify-content: space-between;
    }

    .navigation{
        .menuItems{
            display: block;
            li{
                float: left;
                margin: 0 10px;
                border: none;
                .link{
                    line-height: 100px;
                    font-size: 18px;
                    font-weight: 500;
                    position: relative;
                }
                .link::before{
                    content: "";
                    height: 4px;
                    bottom: -4px;
                    border-radius: 4px;
                    position: absolute;
                    background-color: $blue;
                    width: 100%;
                    left: 0;
                    transition: transform 0.35s ease-out;
                    transform-origin: bottom right;
                    transform: scaleX(0);
                }
                .link:hover:before {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
    }
}

@media (min-width: 1050px) {
    .header{
        margin-bottom: 3em;
    }
    .navigation{
        .menuItems{
            li{
                .link{
                    font-size: 20px;
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1215px) {
    .navigation{
        .menuItems{
            li{
                .link{
                    font-size: 25px;
                }
            }
        }
    }
}

