#NavToggle{
  display: none;
  height: 80px;
  width: 80px;
  position: fixed;
  top: 0;
  right: 15%;
  transform: translateX(-100vw);
}


.menu-btn{
  position: fixed;
  top: 0;
  right: 15%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 80px;
  width: 80px;
  transform: translateX(-100vw);
}

.menu-btn-burger{
  width: 50px;
  height: 6px;
  background: #5c88da;
  border-radius: 5px;
  transition: all .5s ease-in-out;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.menu-btn-burger::after, .menu-btn-burger::before{
  content: "";
  position: absolute;
  background: #5c88da;
  width: 50px;
  height: 6px;
  border-radius: 5px;
  transition: all .5s ease-in-out;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  cursor: pointer;
}
.menu-btn-burger::before{
  transform: translateY(-16px);
}
.menu-btn-burger::after{
  transform: translateY(16px);
}

.menu-btn.open .menu-btn-burger{
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn-burger::before{
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-burger::after{
  transform: rotate(-45deg) translate(35px, 35px);
}


#NavToggle:checked{
  ~ .menuItems{
    transform: translateX(-100vw);
  }
}

// XSmall devices (Portrait phones, 320px and up)
@media (min-width: 320px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .menu-btn{
    display: none;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// Double Extra large devices (x-large desktops, 1200px and up)
@media (min-width: 1700px) {
}