$blue: #5c88da;
$blueHover: #2d61c2;
$background : #e8e8e8;

.experience{
  margin: 2em 0;
  a{
    text-decoration: $blue 2px underline;
  }
  img{
    margin: 1em 0;
    border-radius: 0.75rem;
    max-width: 100%;
  }
}

// Small devices (landscape phones, 992px and up)
@media (min-width: 992px) {
  .experience{
    img{
      margin: 0 1.5em 1.5em 0;
      float: left;
    }
  }
}