$blue: #5c88da;
$blueHover: #2d61c2;
$background : #e8e8e8;


.skillModalBackground{
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background: rgba(210, 210, 210, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  transition: all 0.3s ease-in-out;
  .skillModal{
    background: $background;
    max-width: 80%;
    height: auto;
    border-radius: 0.75rem;
    padding: 1em;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    border: solid 3px $blueHover;
    .modalTop{
      display: flex;
      justify-content: space-between;
      border-bottom: solid grey 2px;
      i{
        font-size: 3em;
        cursor: pointer;
        color: grey;
      }
      i:hover{
        color: #5b5b5b;
      }
    }
  }
}


.activeModal{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
