<section class="about" id="about">
    <div class="ContentSection aboutMe">
        <h1 class="title">{% trans %}Who am I?{% endtrans %}</h1>
        <h2 class="subTitle">{% trans %}Student engineer{% endtrans %}</h2>
        <div class="aboutContent">
            <div class="aboutImg">
                <img src="{{ asset ('img/faceBlob.png') }}" alt="">
            </div>
            <p class="aboutText">{% trans %}I am a first year student in computer science engineering. I am particularly interested in the field of data and I would like to become a data scientist. I am looking for an internship abroad for my second year of engineering cycle. This internship will take place from September 2022 to February 2023.{% endtrans %}</p>
        </div>
        <a class="btn CVbtn" href="">{% trans %}Download my resume{% endtrans %}<i class="far fa-address-card"></i></a>
    </div>
</section>