
<section class="ContactMe" id="contact">
    <div class="ContentSection">
        <h1 class="title">Me contacter :</h1>
        <form action="" class="contactMail">
            <label for="" class="input">
                <input type="text" class="mail input__field">
                <span class="input__label">Courriel :</span>
            </label>
            <label for="" class="input">
                <input type="text" class="objet input__field">
                <span class="input__label">Objet :</span>
            </label>
            <label for="" class="input" id="messageArea">
                <textarea name="message" id="message" cols="30" rows="10" class="contentMail input__field"></textarea>
                <span id="messageLabel">Votre message :</span>
            </label>
        </form>
        <div class="networks">
            <div class="network">
                <a href="https://github.com/OscarPALISSOT" target="_blank" rel="noopener noreferrer" class="networkLink">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
            <div class="network">
                <a href="https://www.linkedin.com/in/oscar-palissot/" target="_blank" rel="noopener noreferrer" class="networkLink">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</section>