
<section class="experience">
        <div class="ContentSection">
                <h1 class="title">Mes expériences :</h1>
                <div id="carousel1">
                        {% for i in 0..6  %}
                                <div class="item card">
                                        <img src="{{ asset ('img/testProj.png') }}" alt="">
                                        <div class="CardContent">
                                                <div class="titleCard">
                                                        <h1>Lorem ipsum dolor sit amet</h1>
                                                </div>
                                                <div class="CardDescription">
                                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                                </div>
                                        </div>
                                </div>
                        {% endfor %}
                </div>
        </div>
</section>