<div class="footer">
    <a href="" class="footerLink">Qui-suis-je?</a>
    <a href="" class="footerLink">Compétences</a>
    <a href="" class="footerLink">Expériences</a>
    <a href="" class="footerLink">Me contacter</a>
</div>