{% extends "admin.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <main>
        <h3 id="titleContainer">Veuillez vous authentifier</h3>

        {% if error %}
            {{error.messageKey | trans(error.messagedata, 'security')}}
        {% endif %}


        <form action="{{path('login')}}" method="post" autocomplete="off">

            <div id="loginForm">
                <input type="text" id="username" name="_username"  aria-label="Username" aria-describedby="basic-addon1" value="{{lastUsername}}" class="col-sm form-control" placeholder="Login" />
                <label for="Login">Login</label>

                <input type="password"  name="_password" aria-label="Username" aria-describedby="basic-addon1" class="col-sm form-control" id="password" required="required" placeholder="Mot de passe" />
                <label for="password">Mot de passe</label>

                <button type="submit" class="btn btn-outline-secondary">S'authentifier</button>
            </div>
        </form>
    </main>
{% endblock %}