{% extends "admin.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <main>
        <h3>Veuillez vous authentifier</h3>

        {% if error %}
            {{error.messageKey | trans(error.messagedata, 'security')}}
        {% endif %}

        <form action="{{path('login')}}" method="post" autocomplete="off" class="col-4">
            <input type="text" id="username" name="_username"  aria-label="Username" aria-describedby="basic-addon1" value="{{lastUsername}}" class="col-sm form-control mb-4" placeholder="Login" />
            <input type="password"  name="_password" aria-label="Username" aria-describedby="basic-addon1" class="col-sm form-control mb-4" id="password" required="required" placeholder="Mot de passe" />

            <button type="submit" class="btn btn-outline-secondary">S'authentifier</button>
        </form>
    </main>
{% endblock %}