.section {
    width: 100%;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .section {
        height: calc(100vh - 6rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
