*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    text-align: justify;
    text-justify: inter-word;
  }
  
  html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  a{
      text-decoration: none;
  }

  main{
    margin: 0 10%;
    margin-top: 6em;
  }

  p, h1, h2, h3, h4, a{
    font-family: 'Poppins', sans-serif;
    color: rgb(14, 14, 14);
  }

  h1{
    font-size: 3em;
    font-weight: bold;
  }


  h2{
    font-size: 1.75em;
    font-weight: bold;
  }