$blue: #5c88da;

.dropdown{
    width: 450px;
    height: 65px;
    border: black solid 1px;
    border-radius: 0.5rem;
    box-shadow: 6px 6px 12px 0 rgb(0 0 0 / 24%);
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// Double Extra large devices (x-large desktops, 1200px and up)
@media (min-width: 1700px) {
}