/*Reset css */

*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html, body{
  overflow-x: clip;
  scroll-behavior: smooth;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Poppins', sans-serif;
}

body{
  padding: 0 2rem;
  background: var(--light);
  color: var(--fontColor);
}

li{
  list-style: none;
}

a{
  color: inherit;
  text-decoration: none;
}


@media (min-width: 576px) {

}

@media (min-width: 768px) {
  body{
    padding: 0 6rem;
  }
}

@media (min-width: 992px) {

}


@media (min-width: 1200px) {
}


@media (min-width: 1700px) {

}