<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Oscar PALISSOT | Admin{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/favicon.svg?v=2">
    <script src="https://kit.fontawesome.com/695ef1a9d2.js" crossorigin="anonymous"></script>

    {{ encore_entry_link_tags('scss/base') }}
    {{ encore_entry_link_tags('scss/adminSideNav') }}

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>

<div class="sidenav">
    <ul>
        <li><a href="">Compétences</a></li>
        <li><a href="">Expériences</a></li>
        <li><a href="/logout">Déconnexion</a></li>
    </ul>

</div>

{% block body %}

{% endblock %}

</body>


</html>